.shopContainer {
	width: 90%;
	margin-top:70px;
}
.shopTitle{
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	background-color: rgb(189, 197, 194);
	width: 100%;
	border-radius: 20px;
}