header{
    width: 100%;
    height: 60px;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
    background-color: rgba(5, 56, 9, 0.185);
    border-bottom-left-radius: 50px;
} 
/* containerCart */

header .containerCart{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*containerList*/
header .containerItemLinks{
    width: 100%;
    height: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav.containerItemLinks ul{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    
}
.NavLink {
    width: auto;
    cursor: pointer;
    color: black;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;    
    text-decoration: none;    
}
.NavLink::after{
    content: "";
    width: 100%;       
    height: 3px;
    cursor: pointer;
    position: absolute;
    background-color: rgba(59, 60, 65, 0.534);
    border-radius: 1px;    
    left: 1;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.2s ease;
}
.NavLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; 
}

div .containerCart{
    margin-right: 30px;
    width: 50px;
}